<!-- Banner -->
<div [@onOpen]="isLoaded ? 'opened' : 'void'" class="open-container">
  <header class="masthead">
    <div class="intro-text">
      <div class="intro-heading">Changing the way the world moves</div>
      <div class="subscription-form">
        <div fxLayout="row" fxLayoutAlign="center center">

          <app-gradient-button (click)="subscribe()" ngbButton fxLayoutAlign="center center">
            <span class="btn-text">Get Notified</span>
          </app-gradient-button>
        </div>

        <div *ngIf="alertShown">
            <p>
              <ngb-alert [dismissible]="true">
                <strong>We need a name and an email from you!</strong>
              </ngb-alert>
            </p>
        </div>
      </div>
    </div>
  </header>
</div>

<div></div>
