<!-- Banner -->
<div [@onOpen]="isLoaded ? 'opened' : 'void'" class="open-container">
  <header class="masthead">
    <div class="intro-text">
      <div class="intro-heading">Changing the way the world moves</div>
      <div class="subscription-form">
        <div fxLayout="row" fxLayoutAlign="center center">
          <div *ngIf="formShown" fxFlex="100%" [@revealForm]="formRevealed ? 'open' : 'void'">
              <form fxLayout="column" fxFlex="85">
                  <input [(ngModel)]="name" name="name" fxFlex="100%" type="text" placeholder="Your Full Name..." class="form-control">
                  <input [(ngModel)]="email" name="email" fxFlex="100%" type="text" placeholder="Your Email..." class="form-control">
              </form>
  
              <app-gradient-button fxFlex="15" (click)="subscribe()">
                <span class="oi oi-check btn-text"></span>
              </app-gradient-button>
          </div>

          <app-gradient-button *ngIf="!formShown" ngbButton fxLayoutAlign="center center" (click)="showSubscriptionForm()">
            <span class="btn-text">Get Notified</span>
          </app-gradient-button>
        </div>

        <div *ngIf="alertShown">
            <p>
              <ngb-alert [dismissible]="true">
                <strong>We need a name and an email from you!</strong>
              </ngb-alert>
            </p>
        </div>
      </div>
    </div>
  </header>
</div>

<div></div>
