
<!-- Navigation -->
<nav class="nav navbar container-fluid">
    <div class="navbar-brand row">
      <div class="logo col">
        <img src="assets/img/pinwheel_sm.png" alt="">
        <img src="assets/img/logo_sm.png" alt="">
      </div>
    </div>
    <div class="navbar-nav" >
      <ul class="nav nav-pills mr-auto navbar-right-right col">
          <li class="nav-item">
            <a href="" class="nav-link text-uppercase">Questions? Contact Us</a>
          </li>
        </ul>
    </div>
</nav>

